/* ESTILOS */

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: 'Inter', sans-serif;
}


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../img/fondolanding.png');
   
}

header{
    color: #8588C5;
    padding: 5px 0;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav .header-logo img {
    width: 100px;
    height: auto;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    
}
header nav ul li a {
    text-decoration: none;
    color: #8588C5;
}

header nav ul li .btn {
    background-color: #3F4FF9;
    color: white;
    height: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}


.container-title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.container-title .container-text-title{
    width: 45%;
    margin-left: 100px;
    
}
.container-title .container-text-title h1{
    font-size: 75px;
    color: #5762DF;
    margin-bottom: 20px;
    font-weight: 400;
    
}
.container-title .container-text-title h3{
    font-size: 45px;
    color: #8588C5;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0;
}

.container-title .container-text-title .container-text-links a {
    background-color: #3F4FF9;
    color: white;
    height: 15px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}


.container-body-info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;  
}

.container-body-info .info-slider{
    width: 35%;
    height: 70%;
    color: white;
   
    border-radius: 20px;
}
.container-body-info .info-slider .slider-img{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container-body-info .info-slider img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    
}

.container-body-info .info-text{
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.container-body-info .info-text .info-text-h1{
    text-align: center;
    color: #8588C5;
}
  
.container-body-info .info-text .info-text-h3{
    color: #8588C5;
    text-align: center;
    
}
