/* ESTILOS */

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: 'Inter', sans-serif;
}


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

header{
    color: #8588C5;
    padding: 5px 0;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav .header-logo img {
    width: 100px;
    height: auto;
}

header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    
}
header nav ul li{
     display: flex;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: #8588C5;
    align-items: center;
    font-size: larger;
    font-weight: 800;
}

header nav ul li .btn {
    background-color: #3F4FF9;
    color: white;
    height: auto;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.container-title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.container-title .container-text-title{
    width: 45%;
    margin-left: 100px;
    
}
.landing-row h1{
    font-size: 110px;
    color: #5762DF;
    margin-bottom: 20px;
    font-weight: 400;
    
}
.landing-row h3{
    font-size: 45px;
    color: #8588C5;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0;
}

.container-text-links a {
    background-color: #3F4FF9;
    color: white;
    height: auto;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}


.container-body-info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;  
}

.container-body-info .info-slider{
    width: 35%;
    height: 70%;
    color: white;
   
    border-radius: 20px;
}
.container-body-info .info-slider .slider-img{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container-body-info .info-slider img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    
}

.container-body-info .info-text{
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.info-text-h1{
    font-size: 50px;
    text-align: center;
    color: #4e52a1;
    font-weight: bolder;
}
.info-text-h2{
    font-size: 40px;
    color: #4e52a1;
       font-weight: bold;
    text-align: justify;
    padding-bottom: 20px;
    font-weight: 600;

}  
.info-text-h3{
    color: #8588C5;
    text-align: justify;
    
}


.landing-container {
  min-height: 100vh;
  
}

/*.landing-row {
  flex: 1;
  display: flex;
  align-items:  flex-start;    
  justify-content: flex-start; 
  text-align: center;
}*/


footer{
    background-image: url('../img/img-footer.png');
    background-position: center;
}

.fondo-landing-info {
    background-image: url('../img/img-footer.png');
 
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-landing-header {
  min-height: 100vh;
  background-image: url('../img/fondolanding.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}